[Unit]
Description=Silvanus Watering Service
After=network.target ntpdate.service

[Service]
Environment=DISPLAY=:0
ExecStart=/home/pi/Silvanus/build/Silvanus
WorkingDirectory=/home/pi/Silvanus/build
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=1
StartLimitIntervalSec=0
User=root
Group=video

[Install]
WantedBy=multi-user.target
